.stlTop1{
    width:100%; 
}
.stlTop2{
    width:100%; 
}
.stlTop3{
    width:50%; 
    float:left;
}
.stlTop3 img{
    width: 110px;
}
.stlTop4{
    width:50%; 
    float:left; 
    text-align: right;
    font-size: 1.5em;
    padding-top: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #28C3F1;
}

.stlTop6{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.5em;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;

}
.stlTop7{
    width: 250px;
    height: 25px;
    border-top: 1px solid #ffffff;
    margin-left: 15px;
    
}
